{% extends "base.html" %}

{% block title %}
Add a New Habit
{% endblock %}

{% block content%}
<span class="d-block p-2 bg-dark text-white"><h2>Track a new Habit</h2></span>

<div class="d-inline">
    <form action="{% url 'add_habit' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
        <div class="form-group">
            <label for="{{ form.goal.id_for_label }}">{{ form.goal.label }}</label>
        </div>

        <div>
            <button type="submit">Add new habit</button>
        </div>
    </form>
</div>
{% endblock %}