{% extends "base.html" %}

{% block content %}
<div class="container ml-8">
    <div class="row">
        <h2>Your Habits</h2>
    </div>
    {% for habit in habits %}
    <div class="row mb-1 pl-0">
        <ul class="pl-0">
            <li class="list-unstyled"><a class="btn btn-primary btn-sm" href="{% url 'habit_detail' habit_pk=habit.pk%}">I want to {{habit.goal}} {{habit.goal_quantity_num}} {{habit.goal_quantity_unit}}</a></li>
        </ul>
    </div>
    {% endfor %}
    <div class="row">
        <a href="{% url 'add_habit' %}">Add new habit</a>
    </div>
</div>
{% endblock %}